
<div style="margin-top:-20px; margin-bottom:-36px;" th:fragment="cpuSlider">
  <section class="autoplay1 slider" style="padding-left:12px;">
    <div>
      <a href="">
      <img src="/image/intel.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/amd.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/qualcomm.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/mediatek.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
      <a href="">
      <img src="/image/intel.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/amd.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/qualcomm.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
    <a href="">
      
      <img src="/image/mediatek.png" style="width:100%; height:100%;">
      </a>
    </div>

  </section>

 
</div>




	